

.cartContainer{
   
    /* background-color: red; */
    width: 60vw!important;
    margin: auto;
    margin-top:100px!important;
}

.cartContainer h3{

    text-align: center;
    margin-bottom: 30px;
}

.delete{

    width: 40%;
    padding: 7px;
    font-size:18px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.quantity{

    width: 20%;
    padding: 3px;
    font-size:15px;
    cursor: pointer;
}

#cartTable{

    width: 100%;
    border-collapse: collapse;
    padding: 0;
}

#cartTable th, #cartTable td {

    border: 1px solid white;
    padding: 8px;
}

#cartTable th{

    text-align: left;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.cart__banner{

    min-height: 20vh!important;
    background-color:#f5f0f0;
    text-align: center;
}

.cart__banner > p{

    color:black;
    font-size: 25px;
    line-height: 20vh;
}