
#banner_row{

    height: 70vh;
    margin-bottom: 150px;
    /* background-color: gray; */
    background-image: url('../../assets/images/banner_home.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center top;
}

#text_banner > p{

    color:white;
}

#text_banner > h1 {

    color:white;
}

#text_banner{

    align-content: center;
    padding: 0px 0px 0px 40px;
    height: 100%;
}


#service_heading > p{

    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
}

#services{

    margin-bottom: 150px;
}



#store_title{

    margin-bottom: 70px;
}

#store_button{

    border-radius: 0px;
    background-color: black;
    width: 30%;
    float: inline-end;
    margin-top: auto;
}

#store_button_div{

    height: 100%;
    margin-top: auto;
}

#banner_button{

    width: 20%;
    border-radius: 0px;
    background:black;
    padding: 15px;
}


#button_one{

    width: 20%;
    border-radius: 0px;
    font-size: 15px;
    background-color: black;
    padding: 7px;
    margin-left: 5px;
    float:inline-end


}

#button_two{

    width: 20%;
    border-radius: 0px;
    font-size: 15px;
    background-color: white;
    padding: 7px;
    float:inline-end
   


}



@media only screen and (max-width: 992px){

    #banner_button{

        width:50%
    }

    #button_one{

        width: 25%;
        border-radius: 0px;
        font-size: 15px;
        background-color: black;
        padding: 7px;
        margin-left: 5px;
        float:inline-end
    
    
    }
    
    #button_two{
    
        width: 25%;
        border-radius: 0px;
        font-size: 15px;
        background-color: white;
        padding: 7px;
        float:inline-end
       
    
    
    }
}






@media only screen and (max-width: 768px){


    #service_heading > p{

        padding: 0px 0px;
        width: 100%;
    }

    #home_banner{

        height: 40vh;
        margin-top: 0px;
    }
  

    #button_one{

        width: 25%;
        border-radius: 0px;
        font-size: 15px;
        background-color: black;
        padding: 7px;
        float:none
    
    
    }
    
    #button_two{
    
        width: 25%;
        border-radius: 0px;
        font-size: 15px;
        background-color: white;
        padding: 7px;
        float:none
       
    
    
    }

    #store_button{

        border-radius: 0px;
        background-color: black;
        width: 30%;
        float:none;
        margin-top:30px;
       
    }

    #store_title{

        padding: 0px 30px;
    }

    #community{

        margin-top:20px;
    }

   
    
  

 

}



@media only screen and (max-width: 570px){



    #banner_button{

        width: 50%;
    }

    #service_heading{

        padding: 0px 30px
    }

    #home_banner{

        height: 40vh;
        margin-top: 0px;
    }



    #community_button{

        margin-top:20px;
    }

    #community{

        padding: 0px 30px;
        margin-top: 20px;
    }

    #home_banner{

        border-radius: 10px;
    }
}
















