#home_banner{
    background-image: url('../../assets/images/banner_home.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top right;
  
}

#home_banner > h2{

    color:white;
    font-size: 35px;
}

.service__section > h2{

    font-size: 25px;
}



.electronics__section{

    /* background-color: green; */
    min-height: 35vh!important;
    text-align: left;
    padding: 30px 0px;
}

.electronics__section > h2{

    margin-bottom: 30px;
    font-size: 30px;
}


#action_message{

    height: 100px;
    width: 100%;
    background-color: black;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#action_message > h2{

    color:white;
    font-size: 30px;
}

#parallex{

    min-height: 400px!important;
    background-color:red;
    background-image: url('../../assets/images/parallex_new.jpg');
    background-size: cover;
    background-position:center right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;


}



#parallex > h2{

    color:white;
    font-size: 35px;
}

#parallex_second{

    min-height: 400px!important;
    background-color:red;
    background-image: url('../../assets/images/furniture.jpeg');
    background-size: cover;
    background-position:center right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;


}



#parallex_second > h2{

    color:white;
    font-size: 35px;
}





@media only screen and (max-width: 738px){

    #home_banner > h2{

        font-size:17px;
        font-weight: 600;
    }

    #action_message > h2{

        color:white;
        font-size:17px;
      
    }

    #parallex > h2{

        color:white;
        font-size: 17px;
        font-weight: 600;
    }

}















