#product_banner{

    background-color:rgb(255, 255, 255);
    height:10vh;
    margin-bottom: 40px;
    margin-top: 60px;
}

#product_banner_text{

    text-align: left;
    color:black;
    font-size: 50px;
    font-weight: 600;
  
 }
 
 
 



#productDiv_title{

   font-weight: 600;
   font-size: 30px;
   

}













