#product_banner{

    background-color:rgb(255, 255, 255);
    height:10vh;
    margin-bottom: 40px;
    margin-top: 60px;
}

#productDisplayContainer{

   width:50%;
}

#product_banner_text{

    text-align: left;
    color:black;
    font-size: 50px;
    font-weight: 600;
  
 }

 #title_row{

   margin-top: 50PX;
   margin-bottom: 70px;
 }
 
 
 
#display_title{

   font-family: 'Poppins';
   font-weight: 600;
   font-size: 40px;

}


#productDiv_title > p{

   font-weight: 600;
   font-size: 30px;
   

}

#relatedDivTitle{

   margin-top: 70px;
}

#related_title{

   font-weight: 600;
   font-size: 40px;
   margin-bottom: 30px;
}

#description{

   font-weight: 600;
   font-size: 30px;
}

@media only screen and (max-width: 1230px){

   #productDisplayContainer{

      width:64%;
   }
}

@media only screen and (max-width: 992px){

   #productDisplayContainer{

      width:50%;
   }

   #cardDiv{

      margin-top: 20PX;
   }

   #relatedCol{

      margin-top: 20px;
   }

}

@media only screen and (max-width: 768px){

   #related_title{

      font-weight: 600;
      font-size: 25px;
      font-family: 'Poppins';


   }

   
}

@media only screen and (max-width: 570px){


   #description{

      font-weight: 600;
      font-size: 20px;
   }

    #product_banner_text{

        text-align: left;
        color:black;
        font-size: 35px;
        font-weight: 600;
      
     }

     #productDisplayContainer{

      width:75%;
   }


     #productDiv_title{

        font-weight: 600;
        font-size: 20px;
        
     
     }

     #display_title{

      font-family: 'Poppins';
      font-weight: 600;
      font-size: 30px;
   
   }

   #related_title{

      font-size: 25px;
   }

  
   
   
  

}















