
/* .row{

    width:100vw;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
} */

.search{

    width: 100vw;
    height: 50px;
    /* background-color: red; */
    padding:15px 30px 0px 30px;
}

.search > input{

    width: 100%;
    padding: 10px;
    border:3px solid gray;
    border-radius: 5px;
}

#store_banner{

    background-color:rgb(255, 255, 255);
    height:10vh;
    margin-bottom: 40px;
    margin-top: 60px;
    
   
   
}

#store_banner_text{

   text-align: left;
   color:black;
   font-size: 50px;
   font-weight: 600;
   display: inline-block;
   position: relative;
}

#store_banner_text::after {
    content: '';
    display: block;
    width: 20%;
    height: 3px; /* Thickness of the line */
    border-bottom: 6px solid black;
    position: absolute;
    bottom: -1px; /* Distance from the title */
    left: 3px;
  }

