footer{
    margin-top: 100px;
    background:black;
    color:white;
    font-size: 16px;
    padding: 40px 0px;
    /* height: 250px; */
    width: 100vw;
    text-align: center;
    
}

@media only screen and (max-width: 1200px) {
    
    footer{

        font-size: 15px;
    }

  }


/* footer > p{

    color: black;
    line-height: 25px;
} */

/* .footer__div{
    padding: 15px 5px;
    text-align: center;
} */